<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark m-0">
    <div class="container-fluid">
        <button class="btn btn-dark me-4" (click)="SideNavToggled()">
            <i class="fa-solid fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#">Navbar</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
        </ul>    
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>